<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
    margin-top: 15px;
}
paper-button.link {
    color: #757575;
}
.alert-error {
    background: #ffcdd2;
    border: 1px solid #f44336;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    padding: 10px;
}
    </style>

    <div class="card">
      <div id="unauthenticated" hidden$="[[loggedin]]">
        <h1>Log In</h1>

        <p><strong>Log in</strong> or <strong>sign up</strong> to access secret Chuck Norris quotes!</p>
        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>
        <paper-input-container>
          <label slot="input">Username</label>
          <iron-input slot="input" bind-value="{{email}}">
            <input id="username" type="text" value="{{email}}" placeholder="Username">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Password</label>
          <iron-input slot="input" bind-value="{{password}}">
            <input id="password" type="password" value="{{password}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
          <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!loggedin]]">
        <h2>Hello, [[storedUser.email]]!</h2>
        <p>You are currently logged in. You can access <a href="[[rootPath]]secret-quotes">Secret Quotes</a>!</p>
      </div>
      <iron-ajax id="registerLoginAjax" method="POST" content-type="application/json" handle-as="text" on-response="handleUserResponse"
        on-error="handleUserError">
      </iron-ajax>

      <app-location route="{{route}}"></app-location>
  </template>


  <script>

    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          email: {
            type: String
          },
          password: {
            type: String
          },
          token: {
            type: String
          },
          loggedin:{
            type:Boolean,
            value: false
          },
          error: String
        }
      }
      _setReqBody() {

        var loginData = {
          "email": this.email,
          "password": this.password
        };
        this.$.registerLoginAjax.body = JSON.stringify(loginData);
      }

      postLogin() {
        this.$.registerLoginAjax.url = 'http://localhost:4000/apitechu/v1/auth/login';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      postRegister() {
        this.$.registerLoginAjax.url = 'http://localhost:4000/apitechu/v1/auth/register';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);
        console.log(response);
        if (response.token) {
          this.error = '';
          this.token = response.token;
          this.id = response.id;
          this.loggedin = true;
          //TODO: REDIRIGIR A ENTRADA USUARIO
          this.set('route.path', '/secret-quotes');
        }

      }

      handleUserError(event) {
        // this.error = event.detail.request.xhr.response;
        this.error = "Error de login";
      }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>